@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

*,
*::after,
*::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #c5fff8;
  font-family: "Poppins", sans-serif;
}

.avatar-container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  animation: floatImage 4s ease-in-out infinite;
  border: 1.5rem solid #96efff;
  box-shadow: 0 0 5rem #5fbdff;
  border-radius: 50%;
}

@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2.4rem);
  }
  100% {
    transform: translateY();
  }
}

h1 {
  font-size: clamp(50% 2.5rem 100%);
  margin-top: 20px;
  color: #7b66ff;
}

h2 {
  font-size: clamp(50% 2rem 100%);
  color: #7b66ff;
}

p {
  font-size: clamp(50% 1rem 100%);
  margin-top: 20px;
  text-align: center;
  color: #7b66ff;
}
